<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>first poll app in django</h1>
  {% if latest_quest_list %}
  <ul>
    {% for question in latest_quest_list %}
      <li>
        <!-- <a href="/polls/{{ question.id }}/">{{ question.question_text }}</a> -->
        <!-- urls.py에 name을 지정했으므로 하드코딩하지 않고 path()함수를 이용해 지정한 이름과 매핑가능 -->
        <a href="{% url 'detail' question.id %}">{{ question.question_text }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No polls are available</p>
  {% endif %}

</body>

</html>