{% load static %}


<!-- style sheet START -->
<link rel="stylesheet" href="{% static 'rensyu/css/reset.css' %}">

<!-- google font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap" rel="stylesheet">
<!-- style sheet END -->

<!-- js START -->
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>

<!-- common -->
<script src="{% static 'rensyu/js/common.js' %}"></script>

<!-- js END -->
