@charset "utf-8";
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* 요소의 폭과 높이를 어떤식으로 계산하는가를 설정 デフォルトでは「要素の幅とサイズはpaddingとboarderを含めない」設定*/
}

ul, 
ol {
  list-style: none;
}

html {
  height: 100%;
}

body {
  /* 변경된 색상은 CSS의 transition 속성에 의해 부드럽게 전환됨 */
  /* transition: background-color 0.3s ease;  */
  /* background-color: white; */
  height: 100%;
  margin: 0;
}

main {
  height: 100%;
}

.flex-container {
  flex: 1;
  display: flex;
  height: 100vh;
}

.show-box {
  /* max-width: calc(100% - 500px); */
  /* max-height: 300px; */
  background-color: bisque;
  height: 100%;
  width: calc(100% - 500px);
  display: flex; /* flexbox로... */
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease; /* 변경된 색상은 CSS의 transition 속성에 의해 부드럽게 전환됨 */

}

.show-box h1 {
  font-family: 'Noto Serif KR', serif;
  font-size: 42px;
}

.show-box-text h3 {
  font-family: 'Noto Serif KR', serif;
  transition: 0.3s ease; /* 변경된 색상은 CSS의 transition 속성에 의해 부드럽게 전환됨 */
}


.show-box-text {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.show-box-detail {
  width: 300px;
  height: 170px;
  background-color: white;
  opacity: 0.7;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 10px;
}

.show-box-detail .detail-bar {
  width: 90%;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 6px;
  border-radius: 10px;
  border: 1px solid;
}

.detail-r-num, .detail-g-num, .detail-b-num {
  width: 0%;
  height: 100%;
  border-radius: 10px;
  /* background-color: red; */
  /* background-color: rgb(10, 0, 0); */
}

.color-div {
  overflow-y: auto;
}

.color-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.color-list li {
  width: 480px;
  /* height: 200px; */
}

.color-box {
  /* border-color: black; */
  /* border: 1px solid; */
}

.color-box-thumb-col {
  float: left;
  width: 20px;
  height: 100px;
}
.color-box-detail {
  height: 100px;
  padding-left: 30px;
}

.color-box:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px gray;
  /* border: 1px solid; */
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  /* 변경된 색상은 CSS의 transition 속성에 의해 부드럽게 전환됨 */
  /* transition: text-shadow 1s ease;  */
  transition-property: text-shadow;
  transition-duration: 1s;
  transition-timing-function: ease;
}
